!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title TranslateMeTweet
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:src => "/javascripts/lib/modernizr-1.6.min.js"}
  %body
    = yield
    = partial :_analytics
    
    :javascript
      document.write('<script src=' +
      ('//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min') +
      '.js><\/script>')
    %script{:src => "/javascripts/lib/underscore-min.js"}
    %script{:src => "/javascripts/lib/backbone-min.js"}
    %script{:src => "/javascripts/application.js"}