.maincontent
  %header.clearfix
    %h1 Quack quack!
    .twitterInfo
      %p
        - if @current_user
          %span.signed-in
            Signed in as
            %span.signed-in-as
              %a{:href => "http://twitter.com/#{@current_user.nickname}"}<
                = @current_user.name
            %span.button
              %a{:href => '/logout'}<
                Logout
        - else
          %span.sign-in
            %a{:href => "/sign_in"}
              Sign in with Twitter
              
  #success-holder
  #translation-holder
  #form-holder

%script#translationTemplate{:type => "text/template"}
  .output-text
    %p
      Output text:
      %textarea#translatedText
        <%= translatedText %>
      %span.button.logged-in#tweet-this
        Tweet this

%script#messageTemplate{:type => "text/template"}
  %form{:action => '/translate', :method => 'post', :id => 'toTranslate'}
    %textarea{:name => 'mytext', :id => 'mytext', :placeholder => 'type your text here'}
    .from-to
      .from
        %span.label From:
        %ul
          %li
            %input{:type => 'radio', :name => 'from', :value => 'en', :checked => ''} English
          %span.hidden
            %li
              %input{:type => 'radio', :name => 'from', :value => 'es'} Spanish
      .to
        %span.label To:
        %ul
          %li
            %input{:type => 'radio', :name => 'to', :value => 'es', :checked => ''} Spanish
          %span.hidden
            %li
              %input{:type => 'radio', :name => 'to', :value => 'en'} English
    %input{:type => 'submit', :name => 'translate', :value => 'Translate', :class => 'submitters'}

%script#successTemplate{:type => "text/template"}
  .success
    %p
      Well done! You've translated a tweet!
      - if @current_user
        (
        %a{:href => "http://twitter.com/#{@current_user.nickname}"}
          View
        )




