html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* BUTTONS */
/* HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ========================================================== */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]), [hidden] {
  display: none;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222222;
}

button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design. */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* =============================================================================
 * Links
 * ========================================================================== */
a {
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #0066ee;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
 * Typography
 * ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440 */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input {
  line-height: normal;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* Re-set default cursor for disabled elements */
button[disabled] {
  cursor: default;
}

input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Consistent box sizing and appearance */
/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* =============================================================================
 * Chrome Frame Prompt
 * ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* ==|== media queries ======================================================
 * EXAMPLE Media Query for Responsive Design.
 * This example overrides the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
/* Image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}
a:focus, a:active {
  outline: none;
}

html {
  height: 100%;
}

body {
  background: #101dbf;
  color: #222222;
  min-height: 400px;
}

#tweet-this {
  border: 1px solid #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
  color: white;
  display: block;
  padding: 10px;
}
#tweet-this:hover {
  color: blue;
  cursor: pointer;
}

.maincontent {
  width: 960px;
  margin: 0 auto;
}
.maincontent header {
  position: relative;
}
.maincontent header h1 {
  padding-top: 3%;
  font-family: "Yellowtail", cursive;
  font-size: 94px;
  color: #ffea00;
  text-align: center;
  text-shadow: -5px 0 15px #000088, 0 5px 15px #000088, 5px 0 15px #000088, 0 -5px 15px #000088;
  margin-right: -5px;
}
.maincontent header .twitterInfo {
  text-align: center;
}

.button, input[type=submit] {
  font-size: 19px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: url('/images/sassy-ie-overlay.png?1341778424') repeat-x bottom left #000088;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0909ff), color-stop(50%, #000088), color-stop(100%, #000055));
  background: -webkit-linear-gradient(#0909ff, #000088 50%, #000055);
  background: -moz-linear-gradient(#0909ff, #000088 50%, #000055);
  background: -o-linear-gradient(#0909ff, #000088 50%, #000055);
  background: linear-gradient(#0909ff, #000088 50%, #000055);
  -webkit-box-shadow: #5555ff 0 1px 0 inset;
  -moz-box-shadow: #5555ff 0 1px 0 inset;
  box-shadow: #5555ff 0 1px 0 inset;
  border: 1px solid #00003c;
  color: white;
  text-shadow: #00005d 0 -1px 0;
  -webkit-box-shadow: #00005f 0 0.2em 0.4em inset;
  -moz-box-shadow: #00005f 0 0.2em 0.4em inset;
  box-shadow: #00005f 0 0.2em 0.4em inset;
  border: solid 1px #00003c;
  border: 6px solid #000088;
}
.button:hover, input[type=submit]:hover {
  background-color: #000055;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0000fd), color-stop(50%, #000055), color-stop(100%, #00002c));
  background: -webkit-linear-gradient(#0000fd, #000055 50%, #00002c);
  background: -moz-linear-gradient(#0000fd, #000055 50%, #00002c);
  background: -o-linear-gradient(#0000fd, #000055 50%, #00002c);
  background: linear-gradient(#0000fd, #000055 50%, #00002c);
}
.button:active, input[type=submit]:active {
  -webkit-box-shadow: #00002c 0 1px 2px inset;
  -moz-box-shadow: #00002c 0 1px 2px inset;
  box-shadow: #00002c 0 1px 2px inset;
}
.button.disabled, .button[disabled], input[type=submit].disabled, input[type=submit][disabled] {
  opacity: 0.6;
  background: #000055;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button:active, input[type=submit]:active {
  -webkit-box-shadow: #00004b 0 0.2em 0.4em inset;
  -moz-box-shadow: #00004b 0 0.2em 0.4em inset;
  box-shadow: #00004b 0 0.2em 0.4em inset;
}
.button a, input[type=submit] a {
  color: inherit;
  text-decoration: none;
}

.submitters {
  width: 40%;
  float: right;
}

.signed-in {
  font-size: 18px;
  line-height: 22px;
}

#form-holder, #success-holder, #translation-holder {
  width: 500px;
  margin: 0 auto;
}
#form-holder textarea, #success-holder textarea, #translation-holder textarea {
  width: 450px;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff600;
  font-size: 24px;
  border: 10px solid #000088;
  resize: none;
  color: #000088;
  outline: none;
  margin: 30px 0;
  box-shadow: #888822 0 2px 1px;
}
#form-holder .from-to, #success-holder .from-to, #translation-holder .from-to {
  width: 60%;
  float: left;
  opacity: 0.6;
}
#form-holder .from-to .from, #form-holder .from-to .to, #success-holder .from-to .from, #success-holder .from-to .to, #translation-holder .from-to .from, #translation-holder .from-to .to {
  width: 50%;
}
#form-holder .from-to .from, #success-holder .from-to .from, #translation-holder .from-to .from {
  float: left;
}
#form-holder .from-to .to, #success-holder .from-to .to, #translation-holder .from-to .to {
  float: right;
}
#form-holder .from-to .label, #success-holder .from-to .label, #translation-holder .from-to .label {
  text-shadow: #888822 0 1px 0;
  width: 50px;
  padding-right: 10px;
  float: left;
  text-align: right;
  font-size: 14px;
}
#form-holder .from-to ul, #form-holder .from-to li, #success-holder .from-to ul, #success-holder .from-to li, #translation-holder .from-to ul, #translation-holder .from-to li {
  margin: 0;
  padding: 0;
}
#form-holder .from-to ul, #success-holder .from-to ul, #translation-holder .from-to ul {
  width: 90px;
  float: right;
}
#form-holder .from-to ul li, #success-holder .from-to ul li, #translation-holder .from-to ul li {
  line-height: 20px;
  padding: 0 0 0 10px;
}

.wrapper {
  min-height: 500px;
  background: #2aacff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2aacff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#2aacff, #ffffff);
  background-image: -moz-linear-gradient(#2aacff, #ffffff);
  background-image: -o-linear-gradient(#2aacff, #ffffff);
  background-image: linear-gradient(#2aacff, #ffffff);
  background-repeat: no-repeat;
}

.footer {
  min-height: 100px;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 5, color-stop(0%, #fffb95), color-stop(100%, #101dbf));
  background-image: -webkit-linear-gradient(#fffb95, #101dbf 5px);
  background-image: -moz-linear-gradient(#fffb95, #101dbf 5px);
  background-image: -o-linear-gradient(#fffb95, #101dbf 5px);
  background-image: linear-gradient(#fffb95, #101dbf 5px);
  background-repeat: no-repeat;
  padding: 80px 0 0;
  color: #000088;
  position: relative;
}
.footer p {
  background: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

/* Duck rules */
.duck {
  font-size: 12px;
  width: 32.125em;
  height: 25em;
  position: absolute;
  top: -140px;
  left: 40px;
  /* @include rotateY(180deg) */
}
.duck .head {
  width: 12.5em;
  height: 12.5em;
  background-color: #ffea00;
  border: 0.75em solid black;
  -webkit-border-radius: 12.5em;
  -moz-border-radius: 12.5em;
  -ms-border-radius: 12.5em;
  -o-border-radius: 12.5em;
  border-radius: 12.5em;
  position: absolute;
  left: 5.938em;
  top: 0;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}
.duck .beak {
  position: absolute;
  left: 0;
  top: 1.5em;
}
.duck .beak-part1 {
  width: 10.188em;
  height: 3.625em;
  background-color: #f1b500;
  border: 0.625em solid black;
  -webkit-border-radius: 5.625em 50%;
  -moz-border-radius: 5.625em / 50%;
  border-radius: 5.625em / 50%;
  left: -5em;
  top: 5.563em;
  position: absolute;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.duck .beak-part2 {
  width: 11.563em;
  height: 4.375em;
  background-color: #ffc000;
  border: 0.625em solid black;
  -webkit-border-radius: 6.563em 50%;
  -moz-border-radius: 6.563em / 50%;
  border-radius: 6.563em / 50%;
  left: -6.625em;
  top: 3.438em;
  position: absolute;
}
.duck .eye {
  position: absolute;
  width: 2.813em;
  height: 2.813em;
  padding: 0.625em;
  top: 1.625em;
  left: 5.625em;
  background-color: white;
  border: 0.625em solid black;
  -webkit-border-radius: 3.75em;
  -moz-border-radius: 3.75em;
  -ms-border-radius: 3.75em;
  -o-border-radius: 3.75em;
  border-radius: 3.75em;
}
.duck .eye-dark {
  width: 3.125em;
  height: 3.125em;
  background-color: black;
  position: absolute;
  left: 0.313em;
  top: 0.313em;
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  -ms-border-radius: 3.125em;
  -o-border-radius: 3.125em;
  border-radius: 3.125em;
}
.duck .eye-shine {
  width: 1.25em;
  height: 1.25em;
  background-color: white;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -o-border-radius: 1.25em;
  border-radius: 1.25em;
  top: 0.188em;
  left: 0.188em;
  position: absolute;
}
.duck .body {
  width: 25em;
  height: 14.375em;
  border: 0.75em solid black;
  background-color: #ffea00;
  -webkit-border-radius: 12.5em 50%;
  -moz-border-radius: 12.5em / 50%;
  border-radius: 12.5em / 50%;
  -moz-border-radius-topright: 2.5em;
  -webkit-border-top-right-radius: 2.5em;
  border-top-right-radius: 2.5em;
  -moz-border-radius-bottomright: 12.5em;
  -webkit-border-bottom-right-radius: 12.5em;
  border-bottom-right-radius: 12.5em;
  top: 8.75em;
  left: 6.25em;
  position: absolute;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.duck .wing {
  top: 0.875em;
  left: 12.813em;
  position: absolute;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.duck .wing-part1, .duck .wing-part2, .duck .wing-part3 {
  background-color: black;
  width: 10.188em;
  height: 3.625em;
  border: 0.625em solid black;
  -webkit-border-radius: 5.625em 50%;
  -moz-border-radius: 5.625em / 50%;
  border-radius: 5.625em / 50%;
  position: absolute;
}
.duck .wing-part1a, .duck .wing-part2a, .duck .wing-part3a {
  width: 11.125em;
  height: 3.875em;
  -webkit-border-radius: 4.625em 50%;
  -moz-border-radius: 4.625em / 50%;
  border-radius: 4.625em / 50%;
  background-color: #ffea00;
  left: -1.813em;
  top: -0.25em;
  position: absolute;
}
.duck .wing-part2 {
  top: 3.125em;
  left: -1.25em;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

.wing-part1 {
  top: 4.875em;
  left: -5em;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}
